<div class="card-box">
    <div class="post-card">
        <h3>{{title}}</h3>
        <p>Posted by: {{User.username}} on {{nice_date}}</p>
        <p>{{contents}}</p>
        <p>Comments:</p>
        <p></p>
    </div>
    <div class="comment-card">
        <p>Comment</p>
        <form id="comment-form">
            <input type="text-area" id="comment-contents">
            <button id="comment-button">Submit</button>
        </form>
    </div>
</div>

<script src="/public/js/comment.js"></script>