<div class="card-box">
    {{#each posts}}
    <div class="post-card">
        <h3>{{title}}</h3>
        <p>Posted by:{{User.username}} on {{nice_date}}</p>
        <p>{{contents}}</p>
    </div>
    {{/each}}
</div>