<form id="new-post-form">
    <input type="text" id="new-post-title" placeholder="Title">
    <input type="text" id="new-post-contents">
    <button id="new-post-btn">Post!</button>
</form>

<script src="/js/newPost.js"></script>